{{>header}}

<h1>Login</h1>
<p class="form-info">Don't have account?
    <a href="#/register">Register now</a> and fix that!
</p>
<form action="#/login" method="post">
    <div>
        <input type="email" name="email" placeholder="Email...">
    </div>

    <div>
        <input type="password" name="password" placeholder="Password...">
    </div>
    <div>
        <button>Login</button>
    </div>
</form>

{{>footer}}


<!--<form class="text-center border border-light p-5" action="#/login" method="post">-->
<!--    <div class="form-group">-->
<!--        <label for="email">Email</label>-->
<!--        <input type="email" class="form-control" placeholder="Email" name="email" value="">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="password">Password</label>-->
<!--        <input type="password" class="form-control" placeholder="Password" name="password" value="">-->
<!--    </div>-->

<!--    <button type="submit" class="btn btn-primary">Login</button>-->
<!--</form>-->
