<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
  <div class="container">

      <%- include("./partials/header.ejs") %>

    <main>
	<h1>Login Form</h1>
<div class="form">
    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Login">
    </form>
</div>
    </main>
  </div>

  <%- include("./partials/footer.ejs") %>

</body>

</html>